<% if current_user %>
  
  <table>
  <thead>
    <tr>
      <th>URL</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  	<div style="float: right"><%= link_to 'Back to Home', :controller => "home", :action => "index" %> </div>
  	<p> <h3> List of Routes </h3> </p>

    <!--<%= form_tag(routes_path, :method => "get") do %>
  	  <div class="field">
    	<%= label_tag :search %>
    	<%= text_field_tag :search, params[:search] %>
  	  </div>
      <div class="actions">
    	<%= submit_tag "Search" %>
  	  </div>
    <% end %> -->

    <% @routes['body'].each do |line| %>
      <tr>
      	<td><%= line['url'] %></td>
        <td><%= line['name'] %></td>
        <td><%= link_to 'Details', :controller => "routes", :action => "show", :url => line['url'] %></td>
      </tr>	
    <% end %>
  </tbody>
</table>
<% end %>