  <% if current_user %>
    <div style="float: right"><%= link_to 'Back to Home', :controller => "home", :action => "index" %> </div>
    <div style='width: 800px;'>  
      <div id="map-canvas" style='width: 800px; height: 400px;'></div>  
    </div>
  <% end %>  

<script type="text/javascript">
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'map-canvas'}}, function(){

    var start_point = [61.46546, 23.64219];
    var end_point   = [61.47561, 23.97756];

    var directionsService = new google.maps.DirectionsService();
    var directionsDisplay = new google.maps.DirectionsRenderer();

    directionsDisplay.setMap(handler.getMap());
    var request = {
      origin:      new google.maps.LatLng(start_point[0], start_point[1]),
      destination: new google.maps.LatLng(end_point[0], end_point[1]),
      travelMode:  google.maps.TravelMode.DRIVING
    };

    directionsService.route(request, function(response, status) {
      if (status === google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
      }
    });
  });
</script>


<!-- <script type="text/javascript">  
  handler = Gmaps.build('Google');  
  handler.buildMap({ provider: {}, internal: {id: 'map-canvas'}}, function(){  
    markers = handler.addMarkers([  
      {  
        "lat": 37.3333945,  
        "lng": -121.8806499,  
        "picture": {  
          "width":  32,  
          "height": 32  
        },  
        "infowindow": "SJSU"  
      }  
    ]);  
    handler.bounds.extendWith(markers);  
    handler.fitMapToBounds();  
});  
</script> -->