<% if current_user %>
  
  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Arrival Time</th>
      <th>Departure Time</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
     <div style="float: right"><%= link_to 'Back to Details', :controller => "routes", :action => "show", :url => @stops['body'][0]['routeUrl'] %></div>
     <p> <h3> List of Stops for '<%= @stops['body'][0]['headSign'] %>' </h3> </p>
    <% @stops['body'].each do |stop| %>
      <% stop['calls'].each do |call| %>
        <tr>
      	  <td><%= call['stopPoint']['name'] %></td>
          <td><%= call['arrivalTime'] %></td>
          <td><%= call['departureTime'] %></td>
          <td><%= call['stopPoint']['location'] %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>

</table>
<% end %> 