<% if current_user %>
  
  <table>
  <thead>
    <tr>
      <th>URL</th>
      <th>Arrival Time</th>
      <th>Departure Time</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <div style="float: right"><%= link_to 'Back to Routes', :controller => "routes", :action => "index" %> </div>
    <p> <h3> List of Journeys for '<%= @routes['body'][0]['name'] %>' </h3> </p>
    <% @routes['body'].each do |route| %>
      <% route['journeys'].each do |journey| %>
        <tr>
      	  <td><%= journey['url'] %></td>
          <td><%= journey['arrivalTime'] %></td>
          <td><%= journey['departureTime'] %></td>
          <td><%= link_to 'Stop Details', :controller => "routes", :action => "showstops", :url => journey['url'] %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% end %>