<div style="float: right"><%= link_to 'Back to Home', :controller => "home", :action => "index" %></div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

