body {
   font-family: Helvetica, Geneva, Arial, sans-serif;
   font-size: small;
   font-color: #000;
   background-color: #fff;
}

a:link, a:active, a:visited {
   color: #CD0000;
}

input { 
   margin-bottom: 10px;
   margin-left:10px;
}

p { 
   line-height: 150%;
}

table {
  border: 1px solid black;
}

th, td {
   border-bottom: 1px solid black;
   border-left: 1px solid black;
}

div#container {
   width: 760px;
   margin: 0 auto;
}

div#header {
   text-align: center;
   padding-bottom: 15px;
}

div#content {
   float: left;
   width: 450px;
   padding: 10px;
}

div#content h3 {
   margin-top: 15px;
}

ul#users {
   list-style-type: none;
}

ul#users li {
   line-height: 140%;
}

div#sidebar {
   width: 200px;
   margin-left: 480px;
}

