<% if current_user %>
  <p><%= link_to "Edit Profile", edit_user_path(current_user.id) %> </p>
  <p><%= link_to "List Routes", routes_path %> </p>
  <p><%= link_to 'Route Map', :controller => "routes", :action => "showmap" %></p>
<% end %>
 