<p id="alert"><%= alert %></p>

<h1>Log In</h1>

<%= form_tag sessions_path do |form| %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  
  
  <div class="field">
    <%= label_tag :password %> 
    <%= password_field_tag :password %>
    <p><%= link_to "forgotten password?", new_password_reset_path %>
      <div class="field">
        <%= check_box_tag :remember_me, 1, params[:remember_me] %>
        <%= label_tag :remember_me %>
      </div>
    </p>
  </div>
    
  <div class="actions">
    <%= submit_tag "Login" %>
  </div>
<% end %>
