<!DOCTYPE html>
<html>
  <head>
    <title>Usermodule</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="//maps.google.com/maps/api/js?key=AIzaSyC-D0_T1ha2chW0wY3-WR904o7jwGP15WU"></script>  
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>  
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
    <script src='//cdn.jsdelivr.net/gmaps4rails/2.1.2/gmaps4rails.js'> </script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js'> </script>

  </head>

  <body>
    <body id = "user">
    <div id = "container" class="container">
      <div id = "header">
        <h1>Welcome</h1>
          <% if current_user %>
            <p>
              <div style="float: right">
              <%= link_to "Log Out", logout_path %>
              </div>
              Logged in as <b><%= current_user.username %> - <%= current_user.email %></b>.
            </p>
          <% else %>
            New users please <%= link_to "Sign Up", signup_path %> or existing users
            <%= link_to "Log In", login_path %> 
          <% end %>
      </div>
      <div class="row">    
        <div id = "content" class="col-lg-12">
          <%= yield -%>
        </div>
      
        <div id = "sidebar"></div>
      </div>
  </body>
</html>
