<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv = "Content-Type" content = "text/html; charset = iso-8859-1" />
    <meta http-equiv = "Content-Language" content = "en-us" />
    <title>Users</title>
  </head>
  
  <body id = "user">
    <div id = "container">
       
      <div id = "header">
        <h1>Welcome</h1>
      </div>
      
      <div id = "content">
        <%= yield -%>
      </div>
      
      <div id = "sidebar"></div>
       
    </div>
  </body>
   
</html>